# Line Log-in
Liff_Development=
Liff_PRODUCTION=
Channel_ID_Development=
Channel_ID_PRODUCTION=

# Line Messaging API Credentials
CHANNEL_SECRET=
CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
PORT=

# LINE Mini App LIFF ID
LIFF_ID=

# MySQL Database
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Gemini
GEMINI_API_KEY=
